<!DOCTYPE html>
<html>
    <head>
        <!--STYLESHEETS-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        
        <% if (path === "/landing") { %>
            <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
            <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
        <% } %>
        <title>Pizza Split</title>
    </head>
    <body>
        
        
        
