<% include partials/header.ejs %>

<div id="top" class="ui container">
    <img id="logo" src="/images/pizzasplit.png">
</div>
<div id="content" class="ui container">
    <div id="box" class="ui raised very padded text container container">
        <h1 class="ui header">Pizza Split Is Comming Soon</h1>
        <p> Enjoy your faviorite Pizza with your best friends without worrying about who's going to pay!</p>
    </div>   
</div>



<div id="footer">
    <% include partials/footer.ejs %>
</div>  
